<footer class="site-footer" id="site-footer">
    <!-- <small class="site-footer__copy">&copy; Our wonderfull app</small> -->
    <div class="footer-container">
        <!-- <small class="footer-container"> -->
            <h3>MyDiary</h3>
            <p>Write your heart out 💌</p>
            <p>© 2025 MyDiary. All rights reserved.</p>
        
            
    </div>
</footer>