<header class="site-header" id="site-header">
        <h2 class="site-logo"><a class="site-logo__link" href="/">Our Wonderfull App</a></h2>
        <nav class="site-nav" id="site-nav">
            
            <div class="right-nav">
                <ul>
                    <li class="linav">
                        <% if (user){ %>
                            <a class="nav-link nav-link--primary" href="/create-post">Create Post</a>
                            <a class="nav-link" href="/logout">Log Out</a>
                        <%} else{%> 
                            <a class="nav-link" href="/login">Login</a>
                            <%}%>
                    </li>
                </ul>
            </div>
            
            
            
        </nav>
    </header>