<!DOCTYPE html>
<html lang="en">
<%- include('includes/head')%>
<body>
    <%- include('includes/header')%>
    <main>
        <h2>Wellcome to Your Dashboard</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere explicabo, rem ipsum beatae magni molestiae expedita! Quas esse, nulla voluptate aperiam fuga quos laborum saepe debitis quae possimus eligendi doloremque!</p>
    </main>
    <%- include('includes/footer')%>
</body>
</html>