<!DOCTYPE html>
<html lang="en">
<%- include('includes/head')%>

<body class="page home-page">
    <%- include('includes/header')%>
    <main class="container">
        <form class="auth-form" id="register-form" action="/register" method="post">  
            <% errors.forEach(error => { %> <p className="notice error"><%= error %></p> <% }) %>
            
        <fieldset class="card">
            <legend class="card__title">Create an Account</legend>
            <label class="form-label" for="username"><small>Username</small></label>
            <input class="input" type="text" id="username" name="username" autocomplete="">


            <label class="form-label" for="password"><small>Password</small></label>
            <input class="input" type="password" id="password" name="password" autocomplete="">

            <br>
            <button class="button button--primary">Sign Up</button>
        </fieldset>
        </form>
    </main>
    <%- include('includes/footer')%>
</body>
</html>