<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h2><a href="/">Our Wonderfull App</a></h2>
        <nav>
            <a href="/login">Login</a>
        </nav>
    </header>
    <main>
        <h3>the login page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore iure recusandae molestiae alias modi hic sapiente laboriosam eligendi rem repellendus corrupti, minus consectetur necessitatibus iste nostrum aperiam libero ex obcaecati.</p>
    </main>
    <footer>
        <small>&copy; Our wonderfull app</small>
    </footer>
</body>
</html>