<!DOCTYPE html>
<html lang="en">
<%- include('includes/head')%>
<body class="page login-page">
    <%- include('includes/headlogin')%>
    <main class="container">
        <form class="auth-form" id="login-form" action="/login" method="POST">  
            <% errors.forEach(error => { %> <p className="notice error"><%= error %></p> <% }) %>
            
        <fieldset class="card">

            <legend class="card__title">Login to your Account</legend>

            <div>
                <label class="form-label" for="username"><small>Username</small></label>
                <input class="input" type="text" id="username" name="username" autocomplete="">
            </div>
            <div>
                <label class="form-label" for="password"><small>Password</small></label>
                <input class="input" type="password" id="password" name="password" autocomplete="">
            </div>

            
            <!-- <br> -->
            <button class="button button--primary">Login</button>
        </fieldset>
        </form>
       
    </main>
    <!-- <%- include('includes/footer')%> -->
</body>
</html>

